<!DOCTYPE html>
<html>
  <body>
    <h1>
      Hello, World
    </h1>
    <form method="POST", action="/append">
      new message: <input type="text" name="message">
      <input type="submit" value="Submit">
    </form>
    
    <h1>Data Contents</h1>
    <form method="POST" action="/delete">
      <ul>
        {% if data|length > 0 %}
          {% for item in data %}
            <li>
              <input type="checkbox" name="item" value="{{ item }}">{{ item }}
            </li>
          {% endfor %}
        {% else %}
          <li>no data</li>
        {% endif %}
      </ul>
      <input type="submit" value="Done">
    </form>
  </body>
</html>